@import 'global';
.coming-soon{
    width: 100%;
    padding: 120px 0px 50px 0px;
    background-color: #f8f8f8;
    overflow: hidden;
    position: relative;

    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            width: 120px;
            height: 100px;
            object-fit: contain;
        }

        h4{
            color: #40626b;
            font-size: 20px;
            font-weight: 900;
            margin: 20px 0px;
            line-height: 2rem;
        }

        h2{
            color: #f59f2a;
            font-size: 25px;
            margin: 0px;
            font-weight: 900;
        }

        p{
            font-size: 15px;
            font-weight: 500;
            margin: 20px 0px;
            color: #40626b;
        }

        .custom-btn{
            padding: 10px 25px;
            background-color: #f59f2a;
            color: #fff;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: fit-content;

            &:hover{
                background-color: #40626b;
                text-decoration: none;
            }
        }
    }

    .image-content{
        width: 100%;
        height: 500px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}
